/* overall setting */
body {
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	margin:0; /* attribute like the margin:0 border:0 and display:flex are already set by bootstap*/
	border:0;
	padding:0;
	text-align:justify;
}

body.inner{
	display: flex;
	flex-direction: column;
	margin:0; /* attribute like the margin:0 border:0 and display:flex are already set by bootstap*/
	border:0;
	padding:0;
}
nav a {
	color: black;
}
nav a:hover{
	color: black
}
nav a:visited {
	color: var(--a_color);
}




/* CSS for index.html */
/* main content*/
main{
	padding-top: var(--nav-height);
	margin-top: 50px;
}
.section{
	margin-bottom: 30px;
}
#personal-info{
	margin-left: var(--maring-left);
	margin-right: var(--maring-right);
}
div#index-figure{
}
div#index-figure img{
	width: 100%;
	min-width: 200px;
	margin-bottom: 30px;
	margin-right: 50px;
}
div#index-introduction p{
	font-size: 0.9em;
}

div#publication img{
	width: 100%;
}
#contact-info{
	margin-left: -40px;
	font-size: 0.9em;
}
div#news{
	flex-direction: column;
	margin-left: var(--maring-left);
	margin-right: var(--maring-right);

}
div#news ul{
	list-style-type:none;
}
div#publication{
	flex-direction: column;
	margin-left: var(--maring-left);
	margin-right: var(--maring-right);
}
div#publication button{
	padding: 0 5px 0 5px;
	margin-top: 8px;
}
div#publication button#read-more{
	margin-top: -8px;
}
.publication-figure {
	margin-left: 20px;
	margin-right: 40px;
	min-width:220px;
}
.publication-link{
	margin-left:20px;
	margin-right:40px;
}
button {
	background-color: var(--button-background-color) !important;
	color: var(--button-font-color) !important;
	padding: 1px 5px 1px 5px !important;
}

p.abstract{
	margin-bottom: 5px;
	word-break:break-all;
	display:-webkit-box;/**对象作为伸缩盒子模型展示**/
	-webkit-box-orient:vertical;/**设置或检索伸缩盒子对象的子元素的排列方式**/
	-webkit-line-clamp:3;/**显示的行数**/
	display:-moz-box;
	-moz-box-orient:vertical;
	-moz-line-clamp:3;
	overflow:hidden;/**隐藏超出的内容**/
}


/* CSS for project detail */
div#project div.paper-info{
	display:flex;
	justify-content: center;
}
div#project div.title{
	margin-bottom: 15px;
}
div#project div.download-paper{
	width:100%; 
	display:flex; 
	justify-content:center;
	margin-bottom: 25px;
}
div#project div.download-paper button{
	width:190px;
	height: 35px;
	padding: 1px 4px 1px 4px;
}
div#project div.download-paper button img{
	width:8%;
	position: relative;
	top: -2.5px;
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	filter:Invert();
}
div#project div.author{
	width:50%;
}
div#project div.abstract{
	width:60%;
}
div#project img, div#project video{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}


/* CSS for '/content/*.html' */
/* navigation bar*/
/* nav bar overall setting*/
nav.top {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	border: 0;
	width: 100%;
	height: var(--nav-height);
	background-color: var(--nav_background_color);
	position: fixed;
	top: 0;
	z-index:10;
}

nav.top a{
	padding: 11px 16px;
}

/* link hover style (to override the overall setting)*/
nav.top a:hover{
	background-color: var(--nav_hover_color);
	border-bottom: none;
	text-decoration: none;
}

/* nav bar main menu (left part of it)*/
nav.top ul{
	display: flex;
	margin:0;  /* this line is very important. there is a default bottom margin*/
	list-style-type: none;
}

/* placeholder (right part of the nav bar) */
nav.top div#placeholder{
	flex-grow: 6;
	display: flex;
	justify-content: flex-end;
}
nav.top div#placeholder a:hover{
	background-color: transparent;
}

